<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API - Tanush</title>
    <style>
      li {
        font-size: x-large;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Welcome to Tanush's API created using Flask</h1>
      <h2>
        The API is partially developed so feel free to explore using the
        following endpoints
      </h2>
      <ul>
        <li>/test-get [This is a GET request]</li>
        <li>
          /test-put [This is a PUT request so use <strong>POSTMAN</strong> to
          send the PUT request]
        </li>
      </ul>
    </div>
  </body>
</html>
